@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap");

/*  */
body {
  margin: 0px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/*  */
.app {
  width: 50vw;
  font-size: 16px;
  border-radius: 7px;
  box-shadow: 0px 10px 10px -9.2px;
  font-family: "Poppins", sans-serif;
}

/*  */
.task {
  background-color: lightgrey;
}

/*  */
@media screen and (max-width: 900px) {
  .app {
    width: 50vw;
  }
}
@media screen and (max-width: 750px) {
  .app {
    width: 70vw;
  }
}
@media screen and (max-width: 500px) {
  .app {
    width: 90vw;
  }
}
